@use '../global';
@use 'login_layout';
@use 'index_layout';
@use 'edit_layout';
// Refinery admin layout
//
//  body.login
//    #tooltip_container
//    #login_container
//      #header
//      #page_container
//      #page
//        #content
//          #flash_container
//          form.new_authentication_devise_user
//
//
//  body.index
//  #site_bar ... screen width  100vw x 54.4px
//  #tooltip_container (hidden)
//  #admin_container   ... 1080px x 100vh
//    #header  (the admin plugins menu, displayed vertically, to the left of the page_container ...120px
//    #page_container ...960px
//      #page
//        #content
//          #flash_container  \
//          #records           | on an index page
//          #actions          /


// body.edit
//  #site_bar
//  #tooltip_container (hidden)
//  #admin_container
//    #header  (the admin plugins menu, displayed vertically, to the left of the page_container
//    #page_container
//      #page
//      #content
//        #flash_container                  \
//        #form.edit_<page/resource/...>    /  on an edit page

// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

body {
  background-color: var(--bodyBackground);
  color: var(--bodyText);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: [siteBar]minmax(0, 4rem) [refineryRow]1fr;
  grid-template-columns: [left]auto [refineryColumn]var(--adminWidth) [right]auto;

  #site_bar {
    grid-row: siteBar;
    grid-column: 1/-1;
  }
  #tooltip_container {
    display: none
  }
  #login_container, #admin_container {
    grid-row: refineryRow;
    grid-column: refineryColumn;
  }

  &.edit {

  }
}


