@mixin rounded {
  border-radius: var(--borderRadius);
}
@mixin top-rounded {
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}
@mixin right-rounded {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
@mixin left-rounded {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}
@mixin bottom-rounded {
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
